#header {
  padding-left: 50px;
  height: 100px;
  width: 100%;
  background-color: #AB2A19;
  color: white;
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0;
}

.head-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ED6B5A;
  font-size: 1.3em;
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
}

#dashboard {
  box-sizing: border-box;
  height: 520px;
  width: 450px;
  border-radius: 10px;
  background-color: #3AD886;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#form-img {
  height: 35%;
  background-size: auto;
}
.display-page {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-buttons {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.form-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ED6B5A;
}